@import 'bootstrap/dist/css/bootstrap';

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #dddddd;
}

#sticky-footer {
  flex-shrink: none;
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: #000 !important;

  .nav-link {
    color: #fff !important;
  }

  .dropdown-menu {
    .nav-link {
      color: #000 !important;
    }
  }

  #logo {
    color: #03ad00;
    font-size: 2rem;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}

#home-container {
  margin-top: 2rem;
}

.jumbotron {
  background-image: asset-url('pereanu-sebastian-qFH7-yKoxik-unsplash.jpg');
  background-position: center;
  background-size: cover;
  height: 425px;
}

.card-title .card-title-link {
  color: #03ad00;
}