<div id="page-content">
  <h2 class="text-center mt-4">Edit Category</h2>
  <%= render 'category_form' %>
  <div class="text-center">
  <%= link_to '[ Back to category ]', category_path(@category), class: 'text-info' %>
  </div>
</div>